* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	color: red;
}

form {
	padding: 30px;
	border: 1px solid #ccc;
}

p {
	margin-bottom: 1em;
}

header {
	position: relative;
	padding: 30px;
	color: #fff;
	background: #000;
}

footer {
	padding: 30px 0;
	text-align: center;
	color: #999;
	border-top: 1px solid #999;
}

header .user {
	position: absolute;
	top: 30px;
	right: 30px;
}

#container {
	margin: 20px auto;
	width: 800px;
	height: 400px;
}

.tip-success {
	color: green;
}
.tip-fail {
	color: red;
}